<!DOCTYPE html>
<html>
<head>
    <title> About </title>
    <link rel="icon" href="./imgs/weather.png">
    <link type="text/css" rel="stylesheet" href="./css/cas.css">
</head>
<body>
    

    <div class="main-content">
        <div class="header">
            {{>header}}
        </div>
        <nav>
            {{>navbar}}
        </nav>
        <p>
            About : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla iure facilis similique porro delectus. Tenetur.
        </p>

    </div>

    <footer>
        {{foot}}
    </footer>
    
</body>
</html>