<!DOCTYPE html>
<html>
<head>
    <title>
        About
    </title>
    <link type="image/x-icon" rel="icon" href="./img/weather.png">
    <link type="text/css" rel="stylesheet" href="./css/cas.css">
</head>
<body>
    

    <div class="main-content">
        <div class="header">
            {{>header}}
        </div>
        <nav>
            {{>navbar}}
        </nav>
        <p>
            <span style="color: red;">About</span> : 
            A simple weather telling application which takes in the city or place as input
            and displays the temperature over there.
            Build on top of expressJS and handlebars and uses openweather map API.
        </p>

    </div>

    <footer>
        {{foot}}
    </footer>
    
</body>
</html>