<!DOCTYPE html>
<html>
<head>
    <title>
        Error
    </title>
    <link type="image/x-icon" rel="icon" href="./img/weather.png">
    <link type="text/css" rel="stylesheet" href="../css/cas.css">
</head>
<body>

    <div class="main-content">
        Some Error Occured...
        <div class="header">
            {{>header}}
        </div>
        <nav>
            <a href="/help">
                HELP
            </a>
        </nav>
        <p>
            Message : {{errmsg}}
        </p>
    </div>

    <footer>
        {{foot}}
    </footer>
    
</body>
</html>