<!DOCTYPE html>
<html>
<head>
    <title> Help </title>
    <link rel="icon" href="./imgs/weather.png">
    <link type="text/css" rel="stylesheet" href="./css/cas.css">
</head>
<body>

    <div class="main-content">
        <div class="header">
            {{>header}}
        </div>
        <nav>
            {{>navbar}}
        </nav>
        <p>
            Help : Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, possimus!
        </p>
    </div>

    <footer>
        {{foot}}
    </footer>

</body>
</html>