<!DOCTYPE html>
<html>
<head>
    <title>
        Help
    </title>
    <link type="image/x-icon" rel="icon" href="./img/weather.png">
    <link type="text/css" rel="stylesheet" href="./css/cas.css">
</head>
<body>

    <div class="main-content">
        <div class="header">
            {{>header}}
        </div>
        <nav>
            {{>navbar}}
        </nav>
        <p>
            VISIT : <a href="http://localhost:8080/"> Index Page </a>

        </p>
    </div>

    <footer>
        {{foot}}
    </footer>

</body>
</html>